.container {
    background: #9de9dd58 url('https://almasjid-site.s3.eu-north-1.amazonaws.com/3.png/mosque-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 top;
}

.containerNoBg {
    background: none;
}