.container {
    background: #9de9dd58 url('https://wsrv.nl/?url=almasjid-site.s3.eu-north-1.amazonaws.com/mosque-bg.png&w=700&h=500&blur=2');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 top;
}

.containerNoBg {
    background: none;
}