.container {
    position: relative;
}

.img {
    position: relative;
    mask-image: url('/mask.png');
    mask-size: contain;
    mask-repeat: no-repeat;

    transition: 300ms all cubic-bezier(0.77, 0.2, 0.05, 1);
    filter: blur(2px) brightness(105%);
    background-repeat: no-repeat;

}

.image {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;;
}

.container:hover .img{
    filter: blur(3px) brightness(100%);
}

/* .container:hover .innerContainer {
    bottom: 0em;
} */

.innerContainer {
    position: absolute;
    bottom: -1em;
    margin: 1.75em;
    transition: 300ms all cubic-bezier(0.77, 0.2, 0.05, 1);
    backdrop-filter: blur(2px);
}

.mark {
    margin: 0 -0.4em;
    padding: 0.05em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      #f8dbaf30,
      #f6cd8f3c 4%,
      #ffdeac3d
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    transition: 300ms all cubic-bezier(0.77, 0.2, 0.05, 1);
    opacity: 85%;
  }